@import "../../foundation/_mediaqueries";


/*========================================
  ボタン
========================================*/

.btn {
  padding: 15px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-primary {
  background: #b6a489;
  color: white;
}

.btn.btn-mid {
  max-width: 150px;
}