@import "../../foundation/_mediaqueries";

/* テーブルリスト
========================================*/

.list-table > table {
  width: 100%;
  border-spacing: 0 5px;
  box-sizing: border-box;
  display: block;
  overflow-x: scroll;
  white-space: nowrap;
}

.list-table th,
.list-table td {
  padding: 5px;
}

.list-table th {
  text-align: left;
}

.list-table > .table > tbody td {
  border-right: none;
  background: #f8f3d4;
}
