@charset "UTF-8";
/* html body base
===============================================================*/
/*
html ----------------------------------------------------------*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  -webkit-text-size-adjust: none;
  position: relative;
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #444;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 100%;
  line-height: 150%;
}

a:link {
  color: #343434;
  text-decoration: none;
}

a:visited {
  color: #343434;
  text-decoration: none;
}

a:hover {
  color: #343434;
  text-decoration: none;
}

a:active {
  color: #343434;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}

a {
  outline: none;
  color: #212020;
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

a:hover {
  opacity: 0.6;
}

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc;
}

input,
select {
  vertical-align: middle;
}

/* YUI 3.9.0 (build 5827) Copyright 2013 Yahoo! Inc. http://yuilibrary.com/license/ */
body {
  font: 14px/1.5 "游ゴシック", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  *font: x-small;
  *font-size: small;
}

select,
input,
button,
textarea {
  font: 99% arial, helvetica, clean, sans-serif;
}

table {
  font: 100%;
  font-size: inherit;
}

pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}

/*========================================
  フォント
========================================*/
.num {
  font-family: 'Montserrat', sans-serif;
}

.price {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

/*========================================
  フッター
========================================*/
#footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px;
  background: #f8f3d4;
  color: #333;
  font-size: 12px;
  text-align: center;
}

#footer a {
  color: #333;
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 992px;
  height: 80px;
  margin: 10px auto 0;
  color: #222;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 2;
}

.header .title {
  width: 300px;
}

/*========================================
  レイアウト
========================================*/
.site-width {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 992px;
  margin: 0 auto;
}

#main {
  min-height: 80vh;
}

.page-1colum #main {
  width: 100%;
}

.page-2colum #main {
  max-width: 760px;
}

.page-logined #main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid #f1f1f1;
}

section h1.title,
section h2.title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}

#contents {
  margin: 20px auto;
  overflow: hidden;
}

/* ページタイトル */
.page-title {
  margin-bottom: 50px;
  padding-top: 20px;
  font-size: 32px;
  text-align: center;
}

/*========================================
  サイドバー
========================================*/
#sidebar {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 600px;
  margin-right: 20px;
  padding: 15px;
  background: #f8f3d4;
  text-align: center;
}

#sidebar .title {
  font-size: 14px;
  text-align: left;
}

#sidebar .selectbox {
  position: relative;
}

#sidebar select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px;
  border-radius: 0;
  border-color: #ccc;
  font-size: 14px;
}

#sidebar .icn_select:after {
  display: block;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border-top: 10px solid #333;
  border-right: 7px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 7px solid transparent;
  content: "";
}

.page-logined #sidebar {
  margin: 0 0 0 20px;
}

.page-logined #sidebar > a {
  display: block;
  margin-bottom: 15px;
}

.sidebar-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*========================================
  ボタン
========================================*/
.btn {
  padding: 15px 20px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}

.btn.btn-primary {
  background: #b6a489;
  color: white;
}

.btn.btn-mid {
  max-width: 150px;
}

.nav-menu {
  display: block;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.menu-item {
  margin-right: 30px;
}

.menu-link {
  -webkit-font-smoothing: initial;
}

.menu-trigger {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: none;
  position: relative;
  width: 40px;
  height: 32px;
  -webkit-transition: all .4s;
  transition: all .4s;
  z-index: 3;
}

.menu-trigger span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #999;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 14px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
          transform: translateY(12px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
          transform: translateY(-15px) rotate(45deg);
}

/*========================================
  ページネーション
========================================*/
.pagination {
  position: relative;
  overflow: hidden;
}

.pagination-list {
  position: relative;
  left: 50%;
  padding-left: 0;
  float: left;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  margin-right: 5px;
  float: left;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: black;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.pagination .list-item.active a {
  background: #333;
  color: white;
}

.pagination .list-item a:hover {
  background: #333;
  color: white;
}

/*========================================
  検索エリア
========================================*/
.search-title {
  height: 40px;
  margin-bottom: 30px;
  padding: 5px 10px;
  overflow: hidden;
  background: #f8f3d4;
  line-height: 40px;
}

.search-left {
  float: left;
}

.search-right {
  float: right;
}

.search-title .total-num {
  padding-right: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

/*========================================
  リスト
========================================*/
.list > .title {
  padding-left: 10px;
  border-left: 6px solid #00b8a9;
}

.panel-list {
  margin-right: -15px;
  overflow: hidden;
}

.panel-list > .panel {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25%;
  min-height: 185px;
  margin-bottom: 24px;
  padding-right: 15px;
  float: left;
  color: #333;
  line-height: 1.2em;
  text-decoration: none;
}

a.panel:hover {
  text-decoration: underline;
}

.panel-list > .panel img {
  width: 100%;
}

.panel-list > .panel .panel-title {
  margin: 0;
}

/* テーブルリスト
========================================*/
.list-table > table {
  width: 100%;
  border-spacing: 0 5px;
}

.list-table th,
.list-table td {
  padding: 5px;
}

.list-table th {
  text-align: left;
}

.list-table > .table > tbody td {
  border-right: none;
  background: #f8f3d4;
}

/*========================================
  フォーム
========================================*/
label {
  display: block;
}

label.err input,
label.err select {
  background: #f7dcd9;
}

input[type="text"],
input[type="password"],
input[type="number"],
.form select,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  width: 100%;
  height: 60px;
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  background: #f6f5f5;
  font-size: 18px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background: #f6f5f5;
  vertical-align: middle;
}

input[type="number"] {
  width: 100px;
  text-align: left;
}

input[type="submit"] {
  width: 100%;
  margin: 15px 0;
  padding: 15px 30px;
  border: none;
  background: #333;
  color: white;
  font-size: 14px;
}

select:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.form-container {
  margin: 0 auto;
}

.page-1colum .form-container {
  margin: 80px auto;
}

.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 5px solid #f1f1f1;
}

.form .label-require {
  margin-left: 5px;
  padding: 3px 5px;
  background: #fe8a8b;
  color: white;
  font-size: 14px;
  vertical-align: bottom;
}

.page-logined .form {
  border: none;
}

.form .title {
  margin-bottom: 40px;
  text-align: center;
}

.form .area-msg {
  padding: 0 0 15px 0;
  color: red;
}

.form .btn-container {
  overflow: hidden;
}

.form .btn {
  float: right;
}

.form .area-drop {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 140px;
  margin-bottom: 15px;
  background: #f6f5f4;
  color: #ccc;
  line-height: 150px;
  text-align: center;
}

.form .input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140px;
  opacity: 0;
  z-index: 2;
  /* 必ずz-indexをつけないと登録画像を変更する際にドラッグ＆ドロップできなくなる*/
}

.form .prev-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.form .imgDrop-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.333%;
  padding-right: 15px;
  float: left;
}

.form .counter-text {
  text-align: right;
}

/* フォームグループ
=================================*/
.form-group {
  position: relative;
  overflow: hidden;
}

.form-group > input {
  float: left;
}

.form-group > .option {
  display: block;
  position: relative;
  top: 40px;
  padding-left: 10px;
  float: left;
}

/*========================================
  トップページ
========================================*/
.top-msg {
  margin: 30px 0;
  color: #364f6b;
  font-size: 24px;
  text-align: center;
}

/*========================================
  マイページ
========================================*/
.mypage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*========================================
  商品一覧ページ
========================================*/
.index-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index-form-sort {
  width: 49%;
}

.index-form-select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-clip: padding-box;
  background-color: #fff;
  color: #495057;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/*========================================
  商品詳細ページ
========================================*/
.badge {
  position: relative;
  top: -4px;
  margin-right: 10px;
  padding: 5px 10px;
  background: #00b8a9;
  color: white;
  font-size: 16px;
  vertical-align: middle;
}

#main .productDetail-title {
  padding: 10px 0;
  font-size: 28px;
}

.product-img-container {
  overflow: hidden;
}

.product-img-container .img-main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 750px;
  padding-right: 15px;
  float: left;
}

.product-img-container .img-sub {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  padding: 15px;
  float: left;
  background: #f8f3d4;
}

.product-img-container .img-sub:hover {
  cursor: pointer;
}

.product-img-container .img-sub img {
  margin-bottom: 15px;
}

.product-img-container .img-sub img:last-child {
  margin-bottom: 0;
}

.product-detail {
  min-height: 150px;
  margin-top: 15px;
  padding: 15px;
  background: #f8f3d4;
}

.product-buy {
  height: 50px;
  margin-top: 15px;
  margin-bottom: 50px;
  overflow: hidden;
  line-height: 50px;
}

.product-buy .item-left {
  float: left;
}

.product-buy .item-right {
  float: right;
}

.product-buy .price {
  margin-right: 30px;
  font-size: 32px;
}

.product-buy .btn {
  padding: 10px 30px;
  border: none;
  font-size: 18px;
}

.product-buy .btn:hover {
  cursor: pointer;
}

/*お気に入りアイコン*/
.icn-like {
  float: right;
  color: #ddd;
}

.icn-like:hover {
  cursor: pointer;
}

.icn-like.active {
  float: right;
  color: #fe8a8b;
}

/*========================================
  連絡掲示板
========================================*/
.msg-info {
  margin-bottom: 15px;
  padding: 15px;
  overflow: hidden;
  background: #f8f3d4;
}

.msg-info .avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.msg-info .avatar-img {
  width: 100px;
  float: left;
  text-align: center;
}

.msg-info .avatar-info {
  width: 500px;
  padding-left: 15px;
  float: left;
}

.msg-info .product-info {
  width: 315px;
  padding-left: 15px;
  float: left;
}

.msg-info .product-info .left,
.msg-info .product-info .right {
  float: left;
}

.msg-info .product-info .right {
  padding-left: 15px;
}

.msg-info .product-info .price {
  display: inline-block;
}

.area-bord {
  height: 500px;
  padding: 15px;
  overflow-y: scroll;
  background: #f8f3d4;
}

.area-send-msg {
  padding: 15px;
  overflow: hidden;
  background: #f8f3d4;
}

.area-send-msg textarea {
  width: 100%;
  height: 100px;
  padding: 15px;
  background: white;
}

.area-send-msg .btn-send {
  width: 150px;
  margin-top: 0;
  float: right;
}

.area-bord .msg-cnt {
  width: 80%;
  margin-bottom: 30px;
  overflow: hidden;
}

.area-bord .msg-cnt .avatar {
  width: 5.2%;
  float: left;
  overflow: hidden;
}

.area-bord .msg-cnt .avatar img {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 20px;
}

.area-bord .msg-cnt .msg-inrTxt {
  position: relative;
  width: 85%;
  margin: 0 0 0 25px;
  padding: 10px;
  float: left;
  border-radius: 5px;
}

.area-bord .msg-cnt.msg-left .msg-inrTxt {
  background: #f6e2df;
}

.area-bord .msg-cnt.msg-left .msg-inrTxt > .triangle {
  position: absolute;
  left: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 15px solid #f6e2df;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}

.area-bord .msg-cnt.msg-right {
  float: right;
}

.area-bord .msg-cnt.msg-right .msg-inrTxt {
  margin: 0 25px 0 0;
  background: #d2eaf0;
}

.area-bord .msg-cnt.msg-right .msg-inrTxt > .triangle {
  position: absolute;
  right: -20px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #d2eaf0;
}

.area-bord .msg-cnt.msg-right .msg-inrTxt {
  float: right;
}

.area-bord .msg-cnt.msg-right .avatar {
  float: right;
}

/*========================================
  contact
========================================*/
#contact {
  margin-bottom: 150px;
}

/*========================================
  その他
========================================*/
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

/* utility
===============================================================*/

@media screen and (max-width: 1200px) {
  body {
    color: #444;
  }
}

@media screen and (max-width: 992px) {
  body {
    color: #444;
  }
  .header {
    width: 100%;
    padding: 0 1em;
  }
  .site-width {
    width: 100%;
    padding: 0 1em;
  }
  .page-2colum #main {
    width: 100%;
  }
  .form {
    max-width: 600px;
  }
  .product-img-container .img-main {
    width: 100%;
    padding-right: 0;
  }
  .product-img-container .img-sub {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  .product-img {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    width: 30%;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  body {
    color: #444;
  }
}

@media screen and (max-width: 576px) {
  body {
    color: #444;
  }
  .header {
    height: 60px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .header .title {
    width: 200px;
    text-align: center;
  }
  #main {
    min-height: auto;
  }
  .nav-menu {
    display: none;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    background: rgba(255, 255, 255, 0.85);
    -webkit-transition: .5s;
    transition: .5s;
  }
  .nav-menu.active {
    display: inline-block;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 2;
  }
  .menu {
    display: block;
  }
  .menu-item {
    margin-right: initial;
  }
  .menu-link {
    -webkit-font-smoothing: initial;
    display: block;
    text-align: center;
  }
  .menu-trigger {
    display: inline-block;
  }
  .panel-list > .panel {
    width: 50%;
  }
  .top-msg {
    font-size: 16px;
  }
  .index-form-sort {
    width: 100%;
  }
  .index-form-sort + .index-form-sort {
    margin-top: 10px;
  }
}
