@import "../../foundation/_mediaqueries";

/* utility
===============================================================*/
.mt-2em {
  margin-top: 2em;
}

.tal {
  text-align-last: left;
}

.tar {
  text-align: right;
}
