@import "../foundation/_mediaqueries";


/*========================================
  フッター
========================================*/

footer {
  padding: 15px;
  width: 100%;
  background: #333;
  color: #f6f5f5;
  text-align: center;
  font-size: 12px;
}

footer a {
  color: #f6f5f5;
}