@import "../foundation/_mediaqueries";


/*========================================
  フッター
========================================*/

#footer {
  padding: 15px;
  width: 100%;
  background: #f8f3d4;
  color: #333;
  text-align: center;
  font-size: 12px;
  box-sizing: border-box;
}

#footer a {
  color: #333;
}