@import "../foundation/_mediaqueries";

/*========================================
  レイアウト
========================================*/
.site-width {
  margin: 0 auto;
  max-width: 992px;
  box-sizing: border-box;
  @include pc {
    width: 100%;
    padding: 0 1em;
  }
}

#main {
  min-height: 80vh;
  @include sp {
    min-height: auto;
  }
}

.page-1colum #main {
  width: 100%;
}

.page-2colum #main {
  max-width: 760px;
  @include pc {
    width: 100%;
  }
}

.page-logined #main {
  box-sizing: border-box;
  border: 5px solid #f1f1f1;
}

section h1.title,
section h2.title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
}

#contents {
  overflow: hidden;
  margin: 20px auto;
}

/* ページタイトル */

.page-title {
  margin-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  font-size: 32px;
}
